.bg
{
    background-image: url('https://img.freepik.com/premium-photo/3d-illustration-round-clock-stopwatch-black-background-stopwatch-icon-logo-chronometer-vintage-timer_116124-11465.jpg?w=2000');
    background-size: cover;
    height: 100vh;
}
.time
{
    text-align:center;
    color:aliceblue;
    padding-top: 30%;
    font-size: 100px;
}
.button
{
   display: flex;
   justify-content: center;
   background-color: black;
}
.button > div
{
    width: 80px;
    margin: 10px;
    text-align: center;
}